* {
 margin: 0;
 padding: 0;
}
.tsuki-bg{
  background-color: #2e2c29;
}
.tsuki-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.tsuki-button {
    width: 100%;
    background: gray;
    overflow-y: auto;
}
